{% extends 'base.html' %}
{% load static %}
{% block headscripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock headscripts %}
{% block title %}
  Загрузить бланк 
{% endblock %}
{% block content %}
<form method="post"  enctype="multipart/form-data">
  {% csrf_token %}
  <div class="mb-3">
    <h5>Выберите изображение</h5>
    <input type="file" name="file" id="file" required/>
  </div>
  <div class="mb-3">
    <h5>Нужен поворот изображения?</h5>
    <input type="radio" class="btn-check" required id="id_rotation_0" name="rotation" value="rotationNone" autocomplete="off">
    <label class="btn btn-secondary" for="id_rotation_0">Не поворачивать</label>
    <input type="radio" class="btn-check" required id="id_rotation_1" name="rotation" value="rotationMinus90" autocomplete="off">
    <label class="btn btn-secondary" for="id_rotation_1">-90°</label>
    <input type="radio" class="btn-check" required id="id_rotation_2" name="rotation" value="rotationPlus90" autocomplete="off">
    <label class="btn btn-secondary" for="id_rotation_2">90°</label>
    <input type="radio" class="btn-check" required id="id_rotation_3" name="rotation" value="rotation180" autocomplete="off">
    <label class="btn btn-secondary" for="id_rotation_3">180°</label>
  </div>
  <div class="img-preview" style="display: none;">
    <div id="imgPreview"></div>
  </div>
  <button type="submit" class="btn btn-primary">Загрузить изображение</button>
</form>
<script>
  let rotationNoneBtn = document.getElementById("id_rotation_0")
  let rotationMinus90Btn = document.getElementById("id_rotation_1")
  let rotationPlus90Btn = document.getElementById("id_rotation_2")
  let rotation180Btn = document.getElementById("id_rotation_3")
  function filePreview(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $('#imgPreview + img').remove();
            $('#imgPreview').after('<img src="'+e.target.result+'" class="img-fluid" id="pic-view" />');
            rotationNoneBtn.checked = false;
            rotationMinus90Btn.checked = false;
            rotationPlus90Btn.checked = false;
            rotation180Btn.checked = false;
            rotationNoneBtn.disabled = false;
            rotationMinus90Btn.disabled = false;
            rotationPlus90Btn.disabled = false;
            rotation180Btn.disabled = false;
        };
        reader.readAsDataURL(input.files[0]);
        $('.img-preview').show();
    }else{
        $('#imgPreview + img').remove();
        $('.img-preview').hide();
    }
  }
  $("#file").change(function (){
    filePreview(this);
  });
  rotationNoneBtn.addEventListener("click", () => {
    rotationNoneBtn.checked = true;
    rotationMinus90Btn.disabled = true;
    rotationPlus90Btn.disabled = true;
    rotation180Btn.disabled = true;
  });
  rotationMinus90Btn.addEventListener("click", () => {
    rotationMinus90Btn.checked = true;
    rotationNoneBtn.disabled = true;
    rotationPlus90Btn.disabled = true;
    rotation180Btn.disabled = true;
    let picture = $("#pic-view")
    let pictureWidth = picture[0].offsetWidth
    let pictureHeight = picture[0].offsetHeight
    let imgPrev = $(".img-preview")[0]
    document.getElementsByClassName('img-preview')[0].setAttribute("style","height:"+pictureWidth+"px")
    picture.css(
      {
        'transform': 'rotate(-90deg) translateX(-'+(Math.abs(pictureWidth - pictureHeight))/2+'px)',
      }
    );
  });
  rotationPlus90Btn.addEventListener("click", () => {
    rotationPlus90Btn.checked = true;
    rotationNoneBtn.disabled = true;
    rotationMinus90Btn.disabled = true;
    rotation180Btn.disabled = true;
    let picture = $("#pic-view")
    let pictureWidth = picture[0].offsetWidth
    let pictureHeight = picture[0].offsetHeight
    let imgPrev = $(".img-preview")[0]
    document.getElementsByClassName('img-preview')[0].setAttribute("style","height:"+pictureWidth+"px")
    picture.css(
      {
        'transform': 'rotate(90deg) translateX('+(Math.abs(pictureWidth - pictureHeight))/2+'px)',
      }
    );
  });
  rotation180Btn.addEventListener("click", () => {
    rotation180Btn.checked = true;
    rotationNoneBtn.disabled = true;
    rotationMinus90Btn.disabled = true;
    rotationPlus90Btn.disabled = true;
    let picture = $("#pic-view")
    let pictureWidth = picture[0].offsetWidth
    let pictureHeight = picture[0].offsetHeight
    let imgPrev = $(".img-preview")[0]
    document.getElementsByClassName('img-preview')[0].setAttribute("style","height:"+pictureWidth+"px")
    picture.css(
      {
        'transform': 'rotate(180deg)',
      }
    );
  });

</script>
{% endblock %}